attrs==21.4.0
    # via
    #   -c requirements/requirements.txt
    #   apiv2-client
    #   ddtrace
babel==2.10.1
    # via sphinx
backcall==0.2.0
    # via
    #   -c requirements/requirements.txt
    #   ipython
billiard==4.2.0
    # via
    #   -c requirements/requirements.txt
    #   celery
celery==5.2.3
    # via
    #   -c requirements/requirements.txt
    #   -r requirements/requirements.in
certifi==2021.10.8
    # via
    #   -c requirements/requirements.txt
    #   requests
charset-normalizer==2.0.12
    # via
    #   -c requirements/requirements.txt
    #   requests
click==8.1.2
    # via
    #   -c requirements/requirements.txt
    #   celery
    #   click-didyoumean
    #   click-plugins
    #   click-repl
    #   septentrion
