charset-normalizer==2.0.12
    # via
    #   -c requirements/requirements.txt
    #   requests
click==8.1.7
    # via
    #   -c requirements/requirements.txt
    #   celery
    #   click-didyoumean
    #   click-plugins
    #   click-repl
    #   septentrion
click-didyoumean==0.3.0
    # via
    #   -c requirements/requirements.txt
    #   celery
click-plugins==1.1.1
    # via
    #   -c requirements/requirements.txt
    #   celery
click-repl==0.2.0
    # via
    #   -c requirements/requirements.txt
    #   celery
colorama==0.4.4
    # via
    #   -c requirements/requirements.txt
    #   septentrion
django==3.2.17
